<!DOCTYPE html>
<html>
<head>
  <title>Checklist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav>
		<div class="nav-wrapper container">
		  <%= link_to 'Checklist', root_path, class: 'brand-logo' %>
		  <ul id="nav-mobile" class="right hide-on-med-and-down">
		    <li><%= link_to 'new item', new_item_path %></li>
		  </ul>
		</div>
	</nav>
	<main>
		<div class="container">
			<%= yield %>
		</div>
	</main>
</body>
</html>
